## ordinal Number encoding

In [1]:
import datetime

In [4]:
today_date=datetime.datetime.today()

In [5]:
today_date

datetime.datetime(2020, 7, 21, 14, 11, 16, 320175)

In [6]:
#It give difference between 2 date time
today_date-datetime.timedelta(3)

datetime.datetime(2020, 7, 18, 14, 11, 16, 320175)

In [9]:
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [10]:
import pandas as pd

In [13]:
data=pd.DataFrame(days)
data.columns=["day"]
data.head()

                         day
0 2020-07-21 14:11:16.320175
1 2020-07-20 14:11:16.320175
2 2020-07-19 14:11:16.320175
3 2020-07-18 14:11:16.320175
4 2020-07-17 14:11:16.320175

In [20]:
data['weekday']=data['day'].dt.day_name()
data.head()

                         day   weekday
0 2020-07-21 14:11:16.320175   Tuesday
1 2020-07-20 14:11:16.320175    Monday
2 2020-07-19 14:11:16.320175    Sunday
3 2020-07-18 14:11:16.320175  Saturday
4 2020-07-17 14:11:16.320175    Friday

In [21]:
dict={'Monday':1,'Tuesday':2,'Wednesday':3,'Thrusday':4,'Friday':5,'Saturday':6,'Sunday':7}

In [26]:
data['Weekday_ordinal']=data['weekday'].map(dict)

In [27]:
data.head()

                         day   weekday  Weekday_ordinal
0 2020-07-21 14:11:16.320175   Tuesday              2.0
1 2020-07-20 14:11:16.320175    Monday              1.0
2 2020-07-19 14:11:16.320175    Sunday              7.0
3 2020-07-18 14:11:16.320175  Saturday              6.0
4 2020-07-17 14:11:16.320175    Friday              5.0

## Count or Frequency Encoding

In [35]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None,index_col=None) 
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [37]:
columns=[1,3,5,6,7,8,9,13]
data=train_set[columns]

In [38]:
data.columns=['Employement','degree',"martial status",'designation','family job','race','sex','country']

In [39]:
data.head()

,Employement,degree,martial status,designation,family job,race,sex,country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [41]:
for fet in data.columns[:]:
    print(fet,':',len(data[fet].unique()))

Employement : 9
degree : 16
martial status : 7
designation : 15
family job : 6
race : 5
sex : 2
country : 42

In [44]:
d=data.country.value_counts().to_dict()

In [48]:
data['country']=data['country'].map(d)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
data.head()

,Employement,degree,martial status,designation,family job,race,sex,country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95

### Advantages
1. Easy to use
2. Not increasing any feature space
### Disadvantages
1. it will not handle if two countries have same frequency,it will provide same weight

# Target guided ordinal encoding
1. ordering the label according to target
2. Replace the label by the joint probebility of being 1 or 0

In [53]:
titanic=pd.read_csv('titanic.csv',usecols=['Survived','Cabin'])

In [54]:
titanic['Cabin'].fillna("missing",inplace=True)

In [55]:
titanic.head()

   Survived    Cabin
0         0  missing
1         1      C85
2         1  missing
3         1     C123
4         0  missing

In [58]:
titanic['Cabin'].values

array(['missing', 'C85', 'missing', 'C123', 'missing', 'missing', 'E46',
       'missing', 'missing', 'missing', 'G6', 'C103', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'D56', 'missing', 'A6', 'missing', 'missing',
       'missing', 'C23 C25 C27', 'missing', 'missing', 'missing', 'B78',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'D33', 'missing', 'B30', 'C52', 'missing',
       'missing', 'missing', 'missing', 'missing', 'B28', 'C83',
       'missing', 'missing', 'missing', 'F33', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'F G73', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'C23 C25 C27', 'missing', 'missing', 'missing', 'E31',
       'missing', 'missing', 'missing', 'A5', 'D10 D12', 'missing',
       'missing', 'missing', 'missing', 'D26', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'C110',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'B58 B60', 'missing', 'missing', 'missing', 'missing',
       'E101', 'D26', 'missing', 'missing', 'missing', 'F E69', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'D47', 'C123', 'missing', 'B86', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'F2',
       'missing', 'missing', 'C2', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'E33',
       'missing', 'missing', 'missing', 'B19', 'missing', 'missing',
       'missing', 'A7', 'missing', 'missing', 'C49', 'missing', 'missing',
       'missing', 'missing', 'missing', 'F4', 'missing', 'A32', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'F2', 'B4', 'B80', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'G6',
       'missing', 'missing', 'missing', 'A31', 'missing', 'missing',
       'missing', 'missing', 'missing', 'D36', 'missing', 'missing',
       'D15', 'missing', 'missing', 'missing', 'missing', 'missing',
       'C93', 'missing', 'missing', 'missing', 'missing', 'missing',
       'C83', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'C78', 'missing', 'missing',
       'D35', 'missing', 'missing', 'G6', 'C87', 'missing', 'missing',
       'missing', 'missing', 'B77', 'missing', 'missing', 'missing',
       'missing', 'E67', 'B94', 'missing', 'missing', 'missing',
       'missing', 'C125', 'C99', 'missing', 'missing', 'missing', 'C118',
       'missing', 'D7', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'A19', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'B49', 'D',
       'missing', 'missing', 'missing', 'missing', 'C22 C26', 'C106',
       'B58 B60', 'missing', 'missing', 'missing', 'E101', 'missing',
       'C22 C26', 'missing', 'C65', 'missing', 'E36', 'C54',
       'B57 B59 B63 B66', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'C7', 'E34', 'missing', 'missing', 'missing',
       'missing', 'missing', 'C32', 'missing', 'D', 'missing', 'B18',
       'missing', 'C124', 'C91', 'missing', 'missing', 'missing', 'C2',
       'E40', 'missing', 'T', 'F2', 'C23 C25 C27', 'missing', 'missing',
       'missing', 'F33', 'missing', 'missing', 'missing', 'missing',
       'missing', 'C128', 'missing', 'missing', 'missing', 'missing',
       'E33', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'D37', 'missing',
       'missing', 'B35', 'E50', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'C82', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'B96 B98', 'missing',
       'missing', 'D36', 'G6', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'C78', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'E10', 'C52', 'missing', 'missing', 'missing', 'E44', 'B96 B98',
       'missing', 'missing', 'C23 C25 C27', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'A34', 'missing',
       'missing', 'missing', 'C104', 'missing', 'missing', 'C111', 'C92',
       'missing', 'missing', 'E38', 'D21', 'missing', 'missing', 'E12',
       'missing', 'E63', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'D', 'missing', 'A14', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'B49', 'missing',
       'C93', 'B37', 'missing', 'missing', 'missing', 'missing', 'C30',
       'missing', 'missing', 'missing', 'D20', 'missing', 'C22 C26',
       'missing', 'missing', 'missing', 'missing', 'missing', 'B79',
       'C65', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'E25', 'missing', 'missing', 'D46', 'F33', 'missing',
       'missing', 'missing', 'B73', 'missing', 'missing', 'B18',
       'missing', 'missing', 'missing', 'C95', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'B38', 'missing', 'missing', 'B39', 'B22', 'missing', 'missing',
       'missing', 'C86', 'missing', 'missing', 'missing', 'missing',
       'missing', 'C70', 'missing', 'missing', 'missing', 'missing',
       'missing', 'A16', 'missing', 'E67', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'C101', 'E25',
       'missing', 'missing', 'missing', 'missing', 'E44', 'missing',
       'missing', 'missing', 'C68', 'missing', 'A10', 'missing', 'E68',
       'missing', 'B41', 'missing', 'missing', 'missing', 'D20',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'A20', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'C125',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'F4', 'missing', 'missing', 'D19', 'missing',
       'missing', 'missing', 'D50', 'missing', 'D9', 'missing', 'missing',
       'A23', 'missing', 'B50', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'B35',
       'missing', 'missing', 'missing', 'D33', 'missing', 'A26',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'D48',
       'missing', 'missing', 'E58', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'C126', 'missing', 'B71',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'B51 B53 B55', 'missing', 'D49', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'B5', 'B20',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'C68', 'F G63', 'C62 C64', 'E24', 'missing', 'missing',
       'missing', 'missing', 'missing', 'E24', 'missing', 'missing',
       'C90', 'C124', 'C126', 'missing', 'missing', 'F G73', 'C45',
       'E101', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'E8', 'missing', 'missing', 'missing', 'missing',
       'missing', 'B5', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'B101', 'missing', 'missing', 'D45', 'C46',
       'B57 B59 B63 B66', 'missing', 'missing', 'B22', 'missing',
       'missing', 'D30', 'missing', 'missing', 'E121', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'B77', 'missing', 'missing', 'missing', 'B96 B98', 'missing',
       'D11', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'E77', 'missing', 'missing', 'missing', 'F38',
       'missing', 'missing', 'B3', 'missing', 'B20', 'D6', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'B82 B84',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'D17', 'missing', 'missing', 'missing', 'missing', 'missing',
       'B96 B98', 'missing', 'missing', 'missing', 'A36', 'missing',
       'missing', 'E8', 'missing', 'missing', 'missing', 'missing',
       'missing', 'B102', 'missing', 'missing', 'missing', 'missing',
       'B69', 'missing', 'missing', 'E121', 'missing', 'missing',
       'missing', 'missing', 'missing', 'B28', 'missing', 'missing',
       'missing', 'missing', 'missing', 'E49', 'missing', 'missing',
       'missing', 'C47', 'missing', 'missing', 'missing', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'C92',
       'missing', 'missing', 'missing', 'D28', 'missing', 'missing',
       'missing', 'E17', 'missing', 'missing', 'missing', 'missing',
       'D17', 'missing', 'missing', 'missing', 'missing', 'A24',
       'missing', 'missing', 'missing', 'D35', 'B51 B53 B55', 'missing',
       'missing', 'missing', 'missing', 'missing', 'missing', 'C50',
       'missing', 'missing', 'missing', 'missing', 'missing', 'missing',
       'missing', 'B42', 'missing', 'C148', 'missing'], dtype=object)

In [75]:
print([i[0] for i in titanic.Cabin.values])

['m', 'C', 'm', 'C', 'm', 'm', 'E', 'm', 'm', 'm', 'G', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'D', 'm', 'A', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'D', 'm', 'B', 'C', 'm', 'm', 'm', 'm', 'm', 'B', 'C', 'm', 'm', 'm', 'F', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'F', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'E', 'm', 'm', 'm', 'A', 'D', 'm', 'm', 'm', 'm', 'D', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'm', 'E', 'D', 'm', 'm', 'm', 'F', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'D', 'C', 'm', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'F', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'E', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'A', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'F', 'm', 'A', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'F', 'B', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'G', 'm', 'm', 'm', 'A', 'm', 'm', 'm', 'm', 'm', 'D', 'm', 'm', 'D', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'D', 'm', 'm', 'G', 'C', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'm', 'E', 'B', 'm', 'm', 'm', 'm', 'C', 'C', 'm', 'm', 'm', 'C', 'm', 'D', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'A', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'D', 'm', 'm', 'm', 'm', 'C', 'C', 'B', 'm', 'm', 'm', 'E', 'm', 'C', 'm', 'C', 'm', 'E', 'C', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'E', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'D', 'm', 'B', 'm', 'C', 'C', 'm', 'm', 'm', 'C', 'E', 'm', 'T', 'F', 'C', 'm', 'm', 'm', 'F', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'E', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'D', 'm', 'm', 'B', 'E', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'D', 'G', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'E', 'C', 'm', 'm', 'm', 'E', 'B', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'A', 'm', 'm', 'm', 'C', 'm', 'm', 'C', 'C', 'm', 'm', 'E', 'D', 'm', 'm', 'E', 'm', 'E', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'D', 'm', 'A', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'C', 'B', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'D', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'B', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'E', 'm', 'm', 'D', 'F', 'm', 'm', 'm', 'B', 'm', 'm', 'B', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'B', 'B', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'A', 'm', 'E', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'E', 'm', 'm', 'm', 'm', 'E', 'm', 'm', 'm', 'C', 'm', 'A', 'm', 'E', 'm', 'B', 'm', 'm', 'm', 'D', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'A', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'F', 'm', 'm', 'D', 'm', 'm', 'm', 'D', 'm', 'D', 'm', 'm', 'A', 'm', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'D', 'm', 'A', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'D', 'm', 'm', 'E', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'D', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'F', 'C', 'E', 'm', 'm', 'm', 'm', 'm', 'E', 'm', 'm', 'C', 'C', 'C', 'm', 'm', 'F', 'C', 'E', 'm', 'm', 'm', 'm', 'm', 'm', 'E', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'D', 'C', 'B', 'm', 'm', 'B', 'm', 'm', 'D', 'm', 'm', 'E', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'B', 'm', 'D', 'm', 'm', 'm', 'm', 'm', 'm', 'E', 'm', 'm', 'm', 'F', 'm', 'm', 'B', 'm', 'B', 'D', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'D', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'A', 'm', 'm', 'E', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'E', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'm', 'm', 'm', 'm', 'E', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'D', 'm', 'm', 'm', 'E', 'm', 'm', 'm', 'm', 'D', 'm', 'm', 'm', 'm', 'A', 'm', 'm', 'm', 'D', 'B', 'm', 'm', 'm', 'm', 'm', 'm', 'C', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'B', 'm', 'C', 'm']

In [72]:
titanic.Cabin.values[0]

'missing'

In [80]:
import numpy as np
titanic['block']=np.where(titanic.Cabin.values!='missing',[i[0] for i in titanic.Cabin.values],'m')

In [81]:
titanic.head(20)

    Survived    Cabin block
0          0  missing     m
1          1      C85     C
2          1  missing     m
3          1     C123     C
4          0  missing     m
5          0  missing     m
6          0      E46     E
7          0  missing     m
8          1  missing     m
9          1  missing     m
10         1       G6     G
11         1     C103     C
12         0  missing     m
13         0  missing     m
14         0  missing     m
15         1  missing     m
16         0  missing     m
17         1  missing     m
18         0  missing     m
19         1  missing     m

In [88]:
ordinal=titanic.groupby('block')['Survived'].mean().sort_values().index

In [89]:
ordinal_dict={k:i for i,k in enumerate(ordinal,0)}

In [90]:
ordinal_dict

{'T': 0, 'm': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [92]:
titanic.drop('Cabin',axis=1,inplace=True)
titanic.head()

   Survived block
0         0     m
1         1     C
2         1     m
3         1     C
4         0     m

In [94]:
titanic['ordinal']=titanic['block'].map(ordinal_dict)

In [95]:
titanic.head(2)

   Survived block  ordinal
0         0     m        1
1         1     C        4

In [96]:
titanic.drop('block',axis=1,inplace=True)
titanic.head()

   Survived  ordinal
0         0        1
1         1        4
2         1        1
3         1        4
4         0        1